/.git
/.cache
/campfire
/storage
/bench
/plans
/reference/.git
/reference/target
/reference/parity
/reference/reference/.git
/reference/reference/.github
/reference/reference/.bundle
/reference/reference/.env*
/reference/reference/log
/reference/reference/tmp
/reference/reference/storage
/reference/reference/node_modules
/reference/reference/public/assets
/reference/reference/test
/reference/reference/config/master.key
/reference/reference/config/credentials.yml.enc
